BOT_TOKEN=
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/wasit_cargo
ADMIN_IDS=
CLIENT_CODE_PREFIX=WS
DEFAULT_PRICE_PER_KG_TJS=25
DEFAULT_PRICE_PER_CUBE_TJS=3500
DEFAULT_DELIVERY_DAYS_TJ=18-25 рӯз
DEFAULT_DELIVERY_DAYS_RU=18-25 дней
